<form>
  <div class="form-group">
    <label for="name">
      Course Name
    </label>
    <input required minLength="3" ngModel name="name" #name="ngModel" type="text" id="name" class="form-control">
    <div class="alert alert-danger"></div>
  </div>
  <div class="form-group">
    <label for="category">
      Category
    </label>
    <select name="" id="category" class="form-control">
      <option *ngFor="let c of categories" [value]="c.id"> {{c.name}} </option>
    </select>
  </div>
  <div class="checkbox">
    <label for="moneyBackGuarentee">
      <input type="checkbox" id="moneyBackGuarentee">
      30 day moeny-back Guarentee 
      
    </label>
  </div>

  <button class="btn btn-primary">Create</button>
</form>